--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13
-- Dumped by pg_dump version 15.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Identity; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA "Identity";


ALTER SCHEMA "Identity" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AiRecommendations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AiRecommendations" (
    "Id" uuid NOT NULL,
    "UserId" text NOT NULL,
    "RecommendationDate" timestamp with time zone NOT NULL,
    "PrimaryPath" text NOT NULL,
    "Justification" text NOT NULL,
    "LongTermGoal" text NOT NULL,
    "AiRecommendationId" uuid
);


ALTER TABLE public."AiRecommendations" OWNER TO postgres;

--
-- Name: AspNetRoleClaims; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetRoleClaims" (
    "Id" integer NOT NULL,
    "RoleId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetRoleClaims" OWNER TO postgres;

--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."AspNetRoleClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoleClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetRoles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetRoles" (
    "Id" text NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text
);


ALTER TABLE public."AspNetRoles" OWNER TO postgres;

--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserClaims" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO postgres;

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."AspNetUserClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUserClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserLogins" (
    "LoginProvider" text NOT NULL,
    "ProviderKey" text NOT NULL,
    "ProviderDisplayName" text,
    "UserId" text NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO postgres;

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserRoles" (
    "UserId" text NOT NULL,
    "RoleId" text NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO postgres;

--
-- Name: AspNetUserTokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserTokens" (
    "UserId" text NOT NULL,
    "LoginProvider" text NOT NULL,
    "Name" text NOT NULL,
    "Value" text
);


ALTER TABLE public."AspNetUserTokens" OWNER TO postgres;

--
-- Name: AspNetUsers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUsers" (
    "Id" text NOT NULL,
    "UserName" character varying(256),
    "NormalizedUserName" character varying(256),
    "Email" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL
);


ALTER TABLE public."AspNetUsers" OWNER TO postgres;

--
-- Name: CareerPath; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CareerPath" (
    "Id" uuid NOT NULL,
    "CareerName" text NOT NULL,
    "Description" text NOT NULL,
    "Probability" text NOT NULL,
    "RequiredSkills" text[] NOT NULL,
    "MarketAnalysis" text[] NOT NULL,
    "RecommendedCourses" text[] NOT NULL,
    "SwotAnalysisId" uuid NOT NULL,
    "CareerStatisticsId" uuid,
    "AiRecommendationId" uuid
);


ALTER TABLE public."CareerPath" OWNER TO postgres;

--
-- Name: CareerStatistics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CareerStatistics" (
    "Id" uuid NOT NULL,
    "CareerName" text NOT NULL,
    "AverageSalaryMin" numeric NOT NULL,
    "AverageSalaryMax" numeric NOT NULL,
    "EmploymentRate" integer NOT NULL,
    "GrowthForecast" text NOT NULL,
    "LastUpdated" timestamp with time zone NOT NULL,
    "AiRecommendationId" uuid NOT NULL
);


ALTER TABLE public."CareerStatistics" OWNER TO postgres;

--
-- Name: CertificateEntry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CertificateEntry" (
    "Id" integer NOT NULL,
    "Name" text NOT NULL,
    "Date" timestamp with time zone,
    "Issuer" text,
    "UserProfileUserId" text
);


ALTER TABLE public."CertificateEntry" OWNER TO postgres;

--
-- Name: CertificateEntry_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."CertificateEntry" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."CertificateEntry_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: EducationEntry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EducationEntry" (
    "Id" integer NOT NULL,
    "Institution" text NOT NULL,
    "Degree" text NOT NULL,
    "Field" text NOT NULL,
    "StartDate" timestamp with time zone,
    "EndDate" timestamp with time zone,
    "UserProfileUserId" text
);


ALTER TABLE public."EducationEntry" OWNER TO postgres;

--
-- Name: EducationEntry_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."EducationEntry" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."EducationEntry_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: GeneratedCvs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."GeneratedCvs" (
    "Id" uuid NOT NULL,
    "UserId" text NOT NULL,
    "Position" text,
    "CvJson" character varying(8000) NOT NULL,
    "RawApiResponse" character varying(8000) NOT NULL,
    "GeneratedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."GeneratedCvs" OWNER TO postgres;

--
-- Name: LanguageEntry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LanguageEntry" (
    "Id" integer NOT NULL,
    "Language" text NOT NULL,
    "Level" text NOT NULL,
    "UserProfileUserId" text
);


ALTER TABLE public."LanguageEntry" OWNER TO postgres;

--
-- Name: LanguageEntry_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."LanguageEntry" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."LanguageEntry_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: MarketTrends; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MarketTrends" (
    "Id" uuid NOT NULL,
    "TrendName" text NOT NULL,
    "Description" text NOT NULL,
    "Impact" text NOT NULL,
    "StartDate" timestamp with time zone NOT NULL,
    "EndDate" timestamp with time zone,
    "AiRecommendationId" uuid NOT NULL
);


ALTER TABLE public."MarketTrends" OWNER TO postgres;

--
-- Name: NextStep; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."NextStep" (
    "Id" uuid NOT NULL,
    "Step" text NOT NULL,
    "AiRecommendationId" uuid
);


ALTER TABLE public."NextStep" OWNER TO postgres;

--
-- Name: ServiceCosts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ServiceCosts" (
    "Id" integer NOT NULL,
    "ServiceName" text NOT NULL,
    "TokenCost" integer NOT NULL
);


ALTER TABLE public."ServiceCosts" OWNER TO postgres;

--
-- Name: ServiceCosts_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."ServiceCosts" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ServiceCosts_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: SkillDemand; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SkillDemand" (
    "Id" uuid NOT NULL,
    "SkillName" text NOT NULL,
    "Industry" text NOT NULL,
    "DemandLevel" text NOT NULL,
    "LastUpdated" timestamp with time zone NOT NULL,
    "AiRecommendationId" uuid NOT NULL
);


ALTER TABLE public."SkillDemand" OWNER TO postgres;

--
-- Name: SwotAnalysis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SwotAnalysis" (
    "Id" uuid NOT NULL,
    "Strengths" text[] NOT NULL,
    "Weaknesses" text[] NOT NULL,
    "Opportunities" text[] NOT NULL,
    "Threats" text[] NOT NULL
);


ALTER TABLE public."SwotAnalysis" OWNER TO postgres;

--
-- Name: TokenTransactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TokenTransactions" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "ServiceName" text NOT NULL,
    "Amount" integer NOT NULL,
    "Type" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."TokenTransactions" OWNER TO postgres;

--
-- Name: TokenTransactions_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."TokenTransactions" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TokenTransactions_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: UserBillings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserBillings" (
    "UserId" text NOT NULL,
    "TokenBalance" integer NOT NULL,
    "StripeCustomerId" text,
    "StripeSubscriptionId" text,
    "SubscriptionStatus" integer NOT NULL,
    "SubscriptionLevel" integer NOT NULL,
    "LastTokenPurchaseDate" timestamp with time zone,
    "SubscriptionEndDate" timestamp with time zone
);


ALTER TABLE public."UserBillings" OWNER TO postgres;

--
-- Name: UserProfiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserProfiles" (
    "UserId" text NOT NULL,
    "FirstName" text NOT NULL,
    "LastName" text NOT NULL,
    "Country" text NOT NULL,
    "Address" text,
    "PhoneNumber" text,
    "Skills" text[] NOT NULL,
    "AdditionalInformation" text,
    "AboutMe" text,
    "PersonalityType" integer NOT NULL
);


ALTER TABLE public."UserProfiles" OWNER TO postgres;

--
-- Name: WorkExperienceEntry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WorkExperienceEntry" (
    "Id" integer NOT NULL,
    "Company" text NOT NULL,
    "Position" text NOT NULL,
    "Description" text NOT NULL,
    "Responsibilities" text[],
    "StartDate" timestamp with time zone,
    "EndDate" timestamp with time zone,
    "UserProfileUserId" text
);


ALTER TABLE public."WorkExperienceEntry" OWNER TO postgres;

--
-- Name: WorkExperienceEntry_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."WorkExperienceEntry" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WorkExperienceEntry_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: AiRecommendations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: AspNetRoleClaims; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetRoleClaims" ("Id", "RoleId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetRoles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetRoles" ("Id", "Name", "NormalizedName", "ConcurrencyStamp") FROM stdin;
\.


--
-- Data for Name: AspNetUserClaims; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserClaims" ("Id", "UserId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetUserLogins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserLogins" ("LoginProvider", "ProviderKey", "ProviderDisplayName", "UserId") FROM stdin;
\.


--
-- Data for Name: AspNetUserRoles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserRoles" ("UserId", "RoleId") FROM stdin;
\.


--
-- Data for Name: AspNetUserTokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserTokens" ("UserId", "LoginProvider", "Name", "Value") FROM stdin;
\.


--
-- Data for Name: AspNetUsers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUsers" ("Id", "UserName", "NormalizedUserName", "Email", "NormalizedEmail", "EmailConfirmed", "PasswordHash", "SecurityStamp", "ConcurrencyStamp", "PhoneNumber", "PhoneNumberConfirmed", "TwoFactorEnabled", "LockoutEnd", "LockoutEnabled", "AccessFailedCount") FROM stdin;
6363493b-8d08-422f-adc3-bc64783a313c	klusbartek8@gmail.com	KLUSBARTEK8@GMAIL.COM	klusbartek8@gmail.com	KLUSBARTEK8@GMAIL.COM	f	AQAAAAIAAYagAAAAEDql7+CsyGZYd8ysKH5X2RUZoDD1t3EAI8XjL8zDFM2/OboKKJwmEAq+4y2vq1QFwA==	OUSNBV5ZNJRLNSNOLRQ4WSDVNXIVYHOB	f248d4fc-7a9b-4ae3-a594-25e4dda90626	\N	f	f	\N	t	0
\.


--
-- Data for Name: CareerPath; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CareerStatistics; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CareerStatistics" ("Id", "CareerName", "AverageSalaryMin", "AverageSalaryMax", "EmploymentRate", "GrowthForecast", "LastUpdated", "AiRecommendationId") FROM stdin;
\.


--
-- Data for Name: CertificateEntry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CertificateEntry" ("Id", "Name", "Date", "Issuer", "UserProfileUserId") FROM stdin;
1	AZ-700	\N	Microsoft	6363493b-8d08-422f-adc3-bc64783a313c
\.


--
-- Data for Name: EducationEntry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EducationEntry" ("Id", "Institution", "Degree", "Field", "StartDate", "EndDate", "UserProfileUserId") FROM stdin;
1	 Wy┼╝sza Szko┼éa Ekonomii i  Informatyki w Krakowie	Master	Computer Science	2022-10-01 02:00:00+00	\N	6363493b-8d08-422f-adc3-bc64783a313c
\.


--
-- Data for Name: GeneratedCvs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LanguageEntry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LanguageEntry" ("Id", "Language", "Level", "UserProfileUserId") FROM stdin;
1	Polish	Native	6363493b-8d08-422f-adc3-bc64783a313c
2	English	Advanced	6363493b-8d08-422f-adc3-bc64783a313c
\.


--
-- Data for Name: MarketTrends; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MarketTrends" ("Id", "TrendName", "Description", "Impact", "StartDate", "EndDate", "AiRecommendationId") FROM stdin;
\.


--
-- Data for Name: NextStep; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ServiceCosts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ServiceCosts" ("Id", "ServiceName", "TokenCost") FROM stdin;
1	AnalyzeProfile	5
2	GenerateCV	5
3	MarketAnalysis	5
4	GenerateCv	1
\.


--
-- Data for Name: SkillDemand; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SkillDemand" ("Id", "SkillName", "Industry", "DemandLevel", "LastUpdated", "AiRecommendationId") FROM stdin;
\.


--
-- Data for Name: SwotAnalysis; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: TokenTransactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TokenTransactions" ("Id", "UserId", "ServiceName", "Amount", "Type", "CreatedAt") FROM stdin;
1	6363493b-8d08-422f-adc3-bc64783a313c	AnalyzeProfile	-5	1	2025-05-26 19:31:02.874621+00
\.


--
-- Data for Name: UserBillings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UserBillings" ("UserId", "TokenBalance", "StripeCustomerId", "StripeSubscriptionId", "SubscriptionStatus", "SubscriptionLevel", "LastTokenPurchaseDate", "SubscriptionEndDate") FROM stdin;
6363493b-8d08-422f-adc3-bc64783a313c	395	\N	\N	0	0	2025-05-26 19:31:02.874501+00	\N
\.


--
-- Data for Name: UserProfiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WorkExperienceEntry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20250519175227_InitialSync	9.0.3
20250526192006_UpdateModels	9.0.3
\.


--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AspNetRoleClaims_Id_seq"', 1, false);


--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AspNetUserClaims_Id_seq"', 1, false);


--
-- Name: CertificateEntry_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."CertificateEntry_Id_seq"', 1, true);


--
-- Name: EducationEntry_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."EducationEntry_Id_seq"', 1, true);


--
-- Name: LanguageEntry_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."LanguageEntry_Id_seq"', 2, true);


--
-- Name: ServiceCosts_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."ServiceCosts_Id_seq"', 5, false);


--
-- Name: TokenTransactions_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."TokenTransactions_Id_seq"', 1, true);


--
-- Name: WorkExperienceEntry_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."WorkExperienceEntry_Id_seq"', 2, true);


--
-- Name: AiRecommendations PK_AiRecommendations; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AiRecommendations"
    ADD CONSTRAINT "PK_AiRecommendations" PRIMARY KEY ("Id");


--
-- Name: AspNetRoleClaims PK_AspNetRoleClaims; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetRoles PK_AspNetRoles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetRoles"
    ADD CONSTRAINT "PK_AspNetRoles" PRIMARY KEY ("Id");


--
-- Name: AspNetUserClaims PK_AspNetUserClaims; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserLogins PK_AspNetUserLogins; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey");


--
-- Name: AspNetUserRoles PK_AspNetUserRoles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AspNetUserTokens PK_AspNetUserTokens; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name");


--
-- Name: AspNetUsers PK_AspNetUsers; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "PK_AspNetUsers" PRIMARY KEY ("Id");


--
-- Name: CareerPath PK_CareerPath; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CareerPath"
    ADD CONSTRAINT "PK_CareerPath" PRIMARY KEY ("Id");


--
-- Name: CareerStatistics PK_CareerStatistics; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CareerStatistics"
    ADD CONSTRAINT "PK_CareerStatistics" PRIMARY KEY ("Id");


--
-- Name: CertificateEntry PK_CertificateEntry; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CertificateEntry"
    ADD CONSTRAINT "PK_CertificateEntry" PRIMARY KEY ("Id");


--
-- Name: EducationEntry PK_EducationEntry; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EducationEntry"
    ADD CONSTRAINT "PK_EducationEntry" PRIMARY KEY ("Id");


--
-- Name: GeneratedCvs PK_GeneratedCvs; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GeneratedCvs"
    ADD CONSTRAINT "PK_GeneratedCvs" PRIMARY KEY ("Id");


--
-- Name: LanguageEntry PK_LanguageEntry; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LanguageEntry"
    ADD CONSTRAINT "PK_LanguageEntry" PRIMARY KEY ("Id");


--
-- Name: MarketTrends PK_MarketTrends; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MarketTrends"
    ADD CONSTRAINT "PK_MarketTrends" PRIMARY KEY ("Id");


--
-- Name: NextStep PK_NextStep; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NextStep"
    ADD CONSTRAINT "PK_NextStep" PRIMARY KEY ("Id");


--
-- Name: ServiceCosts PK_ServiceCosts; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ServiceCosts"
    ADD CONSTRAINT "PK_ServiceCosts" PRIMARY KEY ("Id");


--
-- Name: SkillDemand PK_SkillDemand; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SkillDemand"
    ADD CONSTRAINT "PK_SkillDemand" PRIMARY KEY ("Id");


--
-- Name: SwotAnalysis PK_SwotAnalysis; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SwotAnalysis"
    ADD CONSTRAINT "PK_SwotAnalysis" PRIMARY KEY ("Id");


--
-- Name: TokenTransactions PK_TokenTransactions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TokenTransactions"
    ADD CONSTRAINT "PK_TokenTransactions" PRIMARY KEY ("Id");


--
-- Name: UserBillings PK_UserBillings; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserBillings"
    ADD CONSTRAINT "PK_UserBillings" PRIMARY KEY ("UserId");


--
-- Name: UserProfiles PK_UserProfiles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserProfiles"
    ADD CONSTRAINT "PK_UserProfiles" PRIMARY KEY ("UserId");


--
-- Name: WorkExperienceEntry PK_WorkExperienceEntry; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkExperienceEntry"
    ADD CONSTRAINT "PK_WorkExperienceEntry" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmailIndex" ON public."AspNetUsers" USING btree ("NormalizedEmail");


--
-- Name: IX_AiRecommendations_AiRecommendationId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AiRecommendations_AiRecommendationId" ON public."AiRecommendations" USING btree ("AiRecommendationId");


--
-- Name: IX_AiRecommendations_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AiRecommendations_UserId" ON public."AiRecommendations" USING btree ("UserId");


--
-- Name: IX_AspNetRoleClaims_RoleId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON public."AspNetRoleClaims" USING btree ("RoleId");


--
-- Name: IX_AspNetUserClaims_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetUserClaims_UserId" ON public."AspNetUserClaims" USING btree ("UserId");


--
-- Name: IX_AspNetUserLogins_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetUserLogins_UserId" ON public."AspNetUserLogins" USING btree ("UserId");


--
-- Name: IX_AspNetUserRoles_RoleId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON public."AspNetUserRoles" USING btree ("RoleId");


--
-- Name: IX_CareerPath_AiRecommendationId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_CareerPath_AiRecommendationId" ON public."CareerPath" USING btree ("AiRecommendationId");


--
-- Name: IX_CareerPath_CareerStatisticsId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_CareerPath_CareerStatisticsId" ON public."CareerPath" USING btree ("CareerStatisticsId");


--
-- Name: IX_CareerPath_SwotAnalysisId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_CareerPath_SwotAnalysisId" ON public."CareerPath" USING btree ("SwotAnalysisId");


--
-- Name: IX_CareerStatistics_AiRecommendationId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_CareerStatistics_AiRecommendationId" ON public."CareerStatistics" USING btree ("AiRecommendationId");


--
-- Name: IX_CertificateEntry_UserProfileUserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_CertificateEntry_UserProfileUserId" ON public."CertificateEntry" USING btree ("UserProfileUserId");


--
-- Name: IX_EducationEntry_UserProfileUserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_EducationEntry_UserProfileUserId" ON public."EducationEntry" USING btree ("UserProfileUserId");


--
-- Name: IX_GeneratedCvs_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_GeneratedCvs_UserId" ON public."GeneratedCvs" USING btree ("UserId");


--
-- Name: IX_LanguageEntry_UserProfileUserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_LanguageEntry_UserProfileUserId" ON public."LanguageEntry" USING btree ("UserProfileUserId");


--
-- Name: IX_MarketTrends_AiRecommendationId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MarketTrends_AiRecommendationId" ON public."MarketTrends" USING btree ("AiRecommendationId");


--
-- Name: IX_NextStep_AiRecommendationId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_NextStep_AiRecommendationId" ON public."NextStep" USING btree ("AiRecommendationId");


--
-- Name: IX_SkillDemand_AiRecommendationId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SkillDemand_AiRecommendationId" ON public."SkillDemand" USING btree ("AiRecommendationId");


--
-- Name: IX_WorkExperienceEntry_UserProfileUserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WorkExperienceEntry_UserProfileUserId" ON public."WorkExperienceEntry" USING btree ("UserProfileUserId");


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public."AspNetRoles" USING btree ("NormalizedName");


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserNameIndex" ON public."AspNetUsers" USING btree ("NormalizedUserName");


--
-- Name: AiRecommendations FK_AiRecommendations_AiRecommendations_AiRecommendationId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AiRecommendations"
    ADD CONSTRAINT "FK_AiRecommendations_AiRecommendations_AiRecommendationId" FOREIGN KEY ("AiRecommendationId") REFERENCES public."AiRecommendations"("Id");


--
-- Name: AiRecommendations FK_AiRecommendations_UserProfiles_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AiRecommendations"
    ADD CONSTRAINT "FK_AiRecommendations_UserProfiles_UserId" FOREIGN KEY ("UserId") REFERENCES public."UserProfiles"("UserId") ON DELETE CASCADE;


--
-- Name: AspNetRoleClaims FK_AspNetRoleClaims_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserClaims FK_AspNetUserClaims_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserLogins FK_AspNetUserLogins_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserTokens FK_AspNetUserTokens_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: CareerPath FK_CareerPath_AiRecommendations_AiRecommendationId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CareerPath"
    ADD CONSTRAINT "FK_CareerPath_AiRecommendations_AiRecommendationId" FOREIGN KEY ("AiRecommendationId") REFERENCES public."AiRecommendations"("Id");


--
-- Name: CareerPath FK_CareerPath_CareerStatistics_CareerStatisticsId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CareerPath"
    ADD CONSTRAINT "FK_CareerPath_CareerStatistics_CareerStatisticsId" FOREIGN KEY ("CareerStatisticsId") REFERENCES public."CareerStatistics"("Id");


--
-- Name: CareerPath FK_CareerPath_SwotAnalysis_SwotAnalysisId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CareerPath"
    ADD CONSTRAINT "FK_CareerPath_SwotAnalysis_SwotAnalysisId" FOREIGN KEY ("SwotAnalysisId") REFERENCES public."SwotAnalysis"("Id") ON DELETE CASCADE;


--
-- Name: CareerStatistics FK_CareerStatistics_AiRecommendations_AiRecommendationId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CareerStatistics"
    ADD CONSTRAINT "FK_CareerStatistics_AiRecommendations_AiRecommendationId" FOREIGN KEY ("AiRecommendationId") REFERENCES public."AiRecommendations"("Id") ON DELETE CASCADE;


--
-- Name: CertificateEntry FK_CertificateEntry_UserProfiles_UserProfileUserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CertificateEntry"
    ADD CONSTRAINT "FK_CertificateEntry_UserProfiles_UserProfileUserId" FOREIGN KEY ("UserProfileUserId") REFERENCES public."UserProfiles"("UserId") ON DELETE CASCADE;


--
-- Name: EducationEntry FK_EducationEntry_UserProfiles_UserProfileUserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EducationEntry"
    ADD CONSTRAINT "FK_EducationEntry_UserProfiles_UserProfileUserId" FOREIGN KEY ("UserProfileUserId") REFERENCES public."UserProfiles"("UserId") ON DELETE CASCADE;


--
-- Name: GeneratedCvs FK_GeneratedCvs_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GeneratedCvs"
    ADD CONSTRAINT "FK_GeneratedCvs_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: LanguageEntry FK_LanguageEntry_UserProfiles_UserProfileUserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LanguageEntry"
    ADD CONSTRAINT "FK_LanguageEntry_UserProfiles_UserProfileUserId" FOREIGN KEY ("UserProfileUserId") REFERENCES public."UserProfiles"("UserId") ON DELETE CASCADE;


--
-- Name: MarketTrends FK_MarketTrends_AiRecommendations_AiRecommendationId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MarketTrends"
    ADD CONSTRAINT "FK_MarketTrends_AiRecommendations_AiRecommendationId" FOREIGN KEY ("AiRecommendationId") REFERENCES public."AiRecommendations"("Id") ON DELETE CASCADE;


--
-- Name: NextStep FK_NextStep_AiRecommendations_AiRecommendationId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NextStep"
    ADD CONSTRAINT "FK_NextStep_AiRecommendations_AiRecommendationId" FOREIGN KEY ("AiRecommendationId") REFERENCES public."AiRecommendations"("Id");


--
-- Name: SkillDemand FK_SkillDemand_AiRecommendations_AiRecommendationId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SkillDemand"
    ADD CONSTRAINT "FK_SkillDemand_AiRecommendations_AiRecommendationId" FOREIGN KEY ("AiRecommendationId") REFERENCES public."AiRecommendations"("Id") ON DELETE CASCADE;


--
-- Name: UserBillings FK_UserBillings_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserBillings"
    ADD CONSTRAINT "FK_UserBillings_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: UserProfiles FK_UserProfiles_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserProfiles"
    ADD CONSTRAINT "FK_UserProfiles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: WorkExperienceEntry FK_WorkExperienceEntry_UserProfiles_UserProfileUserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkExperienceEntry"
    ADD CONSTRAINT "FK_WorkExperienceEntry_UserProfiles_UserProfileUserId" FOREIGN KEY ("UserProfileUserId") REFERENCES public."UserProfiles"("UserId") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

